* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary1: #000000;
    --blue: #377DFF;
    --green: #38CB89;
    --orange: #FFAB00;
    --red: #FF5630;
    --o7: #141718;
    --o6: #232627;
    --o5: #343839;
    --o4: #6C7275;
    --o3: #E8ECEF;
    --o2: #F3F5F7;
    --o1: #FEFEFE;
    --font-primary: "Inter", sans-serif;



    --fs-home-heading: 50px;
    --fs-h1: 40px;
    --fs-h2: 30px;
    --fs-h3: 25px;
    --fs-h4: 20px;
    --fs-h5: 16px;
    --fs-h6: 14px;
    --fs-paragraph: 16px;
    --fs-paragraph-small: 14px;
    --fw-bold: bold;

}

.primary1 {
    color: var(--primary1);
}

.blue {
    color: var(--blue);
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}


.orange {
    color: var(--orange);
}

.o7 {
    color: var(--o7);
}

.o6 {
    color: var(--o6);
}

.o5 {
    color: var(--o5);
}

.o4 {
    color: var(--o4);
}

.o3 {
    color: var(--o3);
}

.o2 {
    color: var(--o2);
}

.o1 {
    color: var(--o1);
}


.Hero {
    font-size: var(--fs-home-heading);
    font-family: var(--primary1);
    font-weight: var(--fw-bold);

}

.Heading-1 {
    font-size: var(--fs-h1);
    font-family: var(--primary1);
    font-weight: var(--fw-bold);
}

.Heading-2 {
    font-size: var(--fs-h2);
    font-family: var(--primary1);
    font-weight: var(--fw-bold);
}

.Heading-3 {
    font-size: var(--fs-h3);
    font-family: var(--primary1);
    font-weight: var(--fw-bold);
}

.Heading-4 {
    font-size: var(--fs-h4);
    font-family: var(--primary1);
    font-weight: var(--fw-bold);
}

.Heading-5 {
    font-size: var(--fs-h5);
    font-family: var(--primary1);
    font-weight: var(--fw-bold);
}

.Heading-6 {
    font-size: var(--fs-h6);
    font-family: var(--primary1);
    font-weight: var(--fw-bold);
}

.paragraph {
    font-size: var(--fs-paragraph);
    font-family: var(--primary1);
}

.paragraph-small {
    font-size: var(--fs-paragraph-small);
    font-family: var(--primary1);
}


/* navbar */
.nav-icon {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
    cursor: pointer;
}

.navbar .nav-item .nav-link:hover {
    color: var(--orange);
}



/* hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.hero .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero img {
    max-width: 100%;
    height: auto;
}